/* 

                            TABLE OF CONTENTS

                  1. Board content
                  2. Controls container
                  3. Toggle sound button
                  4. Victory and defeat boxes
                  5. Animations
                  6. Media queries

*/

/* 1. Board content */
.board-container {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0 .5rem 0;
}

.board-container [data-board] {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(var(--size), auto);
  grid-template-rows: repeat(var(--size), auto);
  grid-gap: 0.5rem;
  background-color: var(--color-board-900);
  transition: background-color .3s ease-in-out;
  padding: 0.6rem;
}

.board-container [data-board] [data-tile] {
  background-color: var(--color-board-700);
  font-size: 1.4rem;
  text-align: center;
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline-offset: -2px;
  outline: 2px solid var(--color-board-500);
  transition: 
    background-color .3s ease-in-out,
    outline .3s ease-in-out;
}

.board-container [data-board] [data-tile] [data-text] {
  font-family: 'Times New Roman', Times, serif;
}

.board-container [data-board] [data-tile] > [data-state] {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-color: var(--color-board-900);
  transition: background-color .3s ease-in-out;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  grid-gap: 0;
}

.board-container [data-board] [data-tile] > [data-state] > div {
  width: 8px;
  height: 8px;
  transform: scale(0);
  /* animation-name: create-piece-of-tile; */
  animation-duration: 0.2s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.board-container [data-board] [data-tile] > [data-state='number'],
.board-container [data-board] [data-tile] > [data-state='number'][data-animation="false"] {
  background-color: transparent;
}

.board-container [data-board] [data-tile] > [data-state='number'] > div {
  background-color: var(--color-board-500);
  /* animation-name: erase-piece-of-tile; */
}

.board-container [data-board] [data-tile] > [data-state='revealWithoutAnimating'] > div,
.board-container [data-board] [data-tile] > [data-state='revealWithoutAnimating'] {
  background-color: transparent;
}

.board-container [data-board].explosion [data-tile] > [data-state='mine'] {
  background-color: var(--explosion-bg-color-dark);
  background-image: url('../src/explosion.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.board-container [data-board].bomb [data-tile] > [data-state='mine'] {
  background-color: var(--bomb-bg-color-dark);
  background-image: url('../src/bomb.png');
  background-repeat: no-repeat;
  background-size: 80% 80%;
  background-position: center;
}

.board-container [data-board].asteroid [data-tile] > [data-state='mine'] {
  background-color: var(--asteroid-bg-color-dark);
  background-image: url('../src/asteroid.png');
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
}

body.light .board-container [data-board].bomb [data-tile] > [data-state='mine'],
body.light .board-container [data-board].explosion [data-tile] > [data-state='mine'] {
  background-color: var(--explosion-bg-color-light);
}

body.light .board-container [data-board].asteroid [data-tile] > [data-state='mine'] {
  background-color: var(--asteroid-bg-color-light);
}

.board-container [data-board] [data-tile] > [data-state='hidden'] > div,
.board-container [data-board] [data-tile] > [data-state='hidden'][data-animation="false"] {
  background-color: var(--color-board-500);
}

.board-container [data-board][data-marked-mines-color="yellow"] [data-tile] > [data-state='marked'] > div,
.board-container [data-board][data-marked-mines-color="yellow"] [data-tile] > [data-state='marked'][data-animation="false"] {
  background-color: var(--color-yellow-g);
}

.board-container [data-board][data-marked-mines-color="red"] [data-tile] > [data-state='marked'] > div,
.board-container [data-board][data-marked-mines-color="red"] [data-tile] > [data-state='marked'][data-animation="false"] {
  background-color: var(--color-red-g);
}

.board-container [data-board][data-marked-mines-color="blue"] [data-tile] > [data-state='marked'] > div,
.board-container [data-board][data-marked-mines-color="blue"] [data-tile] > [data-state='marked'][data-animation="false"] {
  background-color: var(--color-blue-g);
}

.board-container [data-board][data-marked-mines-color="green"] [data-tile] > [data-state='marked'] > div,
.board-container [data-board][data-marked-mines-color="green"] [data-tile] > [data-state='marked'][data-animation="false"] {
  background-color: var(--color-green-g);
}

/* 2. Controls container */
.controls-container {
  /* --left-board-padding: 0.6rem;
  --board-grid-gap: 0.5rem;
  --tile-width: 32px; */

  /* --size represents number of rows and columns in board gird */
  /* width: calc(var(--left-board-padding) * 2 + var(--size) * var(--tile-width) + calc(var(--size) - 1) * var(--board-grid-gap)); */
  height: max-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
}

.controls-container .remaining-mines-container {
  height: 48px;
  display: flex;
  font-size: 1.4rem;
  padding: .7rem;
  align-items: center;
  /* border: 1px solid var(--color-text); */
  background-color: var(--color-board-900);
  transition: all 0.3s ease;
}

.controls-container .remaining-mines-container [data-remaining-mines] {
  /* font-size: 1.4rem;
  font-family: 'Chewy', cursive;
  letter-spacing: 2px;
  font-family: 'Roboto', sans-serif; */
  font-family: 'Times New Roman', Times, serif;
}

.controls-container .remaining-mines-container span {
  height: inherit;
}

.controls-container .remaining-mines-container span img {
  margin-top: 20%;
  height: 60%;
  aspect-ratio: 1 / 1;
}

.controls-container [data-reset] {
  height: 48px;
  aspect-ratio: 1 / 1;
  border: 0;
  background-color: var(--color-board-900);
  transition: background-color 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-container [data-reset] .reset-icon {
  height: 65%;
  aspect-ratio: 1 / 1;
  background-image: url("../src/reset-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.light .controls-container [data-reset] .reset-icon {
  background-image: url("../src/reset-black.png");
}

.controls-container [data-reset]:hover {
  background-color: var(--color-board-700);
}

/* 3. Toggle sound button */
.toggle-sound {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
}

.toggle-sound .tooltip {
  /* transform: scale(0); */
  opacity: 0;
  position: absolute;
  top: -2.7rem;
  right: 0;
  width: max-content;
  color: var(--color-board-700);
  background-color: var(--color-text);
  font-size: 1rem;
  padding: .4rem .7rem;
  transition: all 300ms ease-in-out;
  font-weight: 700;
}

.toggle-sound .tooltip::after {
  content: '';
  position: absolute;
  right: 15px;
  bottom: -12px;
  border-width: 6px;
  border-color: var(--color-text) transparent transparent transparent;
  /* border-color: white; */
  border-style: solid;
}

.toggle-sound .sound-on-button,
.toggle-sound .sound-off-button {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  transition: all 300ms ease;
  cursor: pointer;
}

.toggle-sound .sound-on-button:hover ~ .tooltip,
.toggle-sound .sound-off-button:hover ~ .tooltip {
  /* transform: scale(1); */
  opacity: 1;
}

.toggle-sound .sound-on-button svg,
.toggle-sound .sound-off-button svg {
  width: inherit;
  height: inherit;
  fill: var(--color-text);
  transition: fill 300ms ease-in-out;
}

.toggle-sound[data-toggle-sound="sound-on"] .sound-on-button {
  transform: scale(1);
}

.toggle-sound[data-toggle-sound="sound-on"] .sound-off-button {
  transform: scale(0);
}

.toggle-sound[data-toggle-sound="sound-off"] .sound-on-button {
  transform: scale(0);
}

.toggle-sound[data-toggle-sound="sound-off"] .sound-off-button {
  transform: scale(1);
}

/* 4. Victory and defeat boxes */
.victory-container-wrapper,
.defeat-container-wrapper {
  z-index: 999;
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  background-color: rgba(36, 36, 36, 0.4);
}

.victory-container-wrapper[data-state="active"],
.defeat-container-wrapper[data-state="active"] {
  opacity: 1;
  pointer-events: all;
}

.victory-container-wrapper[data-state="hidden"],
.defeat-container-wrapper[data-state="hidden"] {
  animation-name: fade-out;
  pointer-events: none;
}

.victory-container,
.defeat-container {
  letter-spacing: 2px;
  font-size: 2rem;
  background-color: var(--color-secondary);
  color: white;
  padding: 1.5rem;
  border-radius: 20px;
  box-shadow: 
    5px 5px 10px var(--color-secondary),
    -5px 5px 10px var(--color-secondary),
    5px -5px 10px var(--color-secondary),
    -5px -5px 10px var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(300px, 75%);
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.defeat-container {
  animation-duration: .4s;
}

.victory-container-wrapper[data-state="active"] .victory-container {
  animation-name: victory-box-fall;
}

.defeat-container-wrapper[data-state="active"] .defeat-container {
  animation-name: fade-in-nicely;
}

.victory-container .medals {
  display: flex;
  margin-top: .2rem;
  margin-bottom: .8rem;
}

.defeat-container .sad-emoji {
  opacity: 0;
  margin-top: .2rem;
  margin-bottom: .4rem;
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: .3s;
  animation-fill-mode: forwards;
}

.defeat-container-wrapper[data-state="active"] .defeat-container .sad-emoji {
  animation-name: fade-in-nicely;
}

.victory-container .medals span {
  transform: translate(0, -300px);
  opacity: 0;
}

.victory-container .medals span:first-child {
  transform: translate(10px, 15px);
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: 1.1s;
  animation-fill-mode: forwards;
}

.victory-container-wrapper[data-state="active"] .victory-container .medals span:first-child {
  animation-name: left-star-fall;
}

.victory-container .medals span:nth-child(2) {
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
}

.victory-container-wrapper[data-state="active"] .victory-container .medals span:nth-child(2) {
  animation-name: middle-star-fall;
}

.victory-container .medals span:last-child {
  transform: translate(-10px, 15px);
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

.victory-container-wrapper[data-state="active"] .victory-container .medals span:last-child {
  animation-name: right-star-fall;
}

.victory-container .text {
  font-family: 'Chewy', cursive;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: 2.6s;
  animation-fill-mode: forwards;
}

.defeat-container-wrapper .defeat-container .text {
  font-family: 'Chewy', cursive;
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: .6s;
  animation-fill-mode: forwards;
}

.victory-container-wrapper[data-state="active"] .victory-container .text {
  animation-name: fade-in;
  color: var(--color-text);
}

.defeat-container-wrapper[data-state="active"] .defeat-container .text {
  animation-name: fade-in-nicely;
  color: var(--color-text);
}

.victory-container-wrapper .open-customize-menu-button-container,
.defeat-container-wrapper .reset-button-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.victory-container-wrapper .open-customize-menu-button-container > button,
.defeat-container-wrapper .reset-button-container > button {
  border: 2px solid var(--color-text);
  border-radius: 6px;
  margin: 2rem 0 0rem;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-family: 'Chewy', cursive;
  padding: .5rem 1rem;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-text);
  opacity: 0;
  animation-timing-function: ease-in-out;
  animation-duration: .4s;
  animation-delay: 3.4s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

.defeat-container-wrapper .reset-button-container > button {
  animation-delay: .9s;
}

.victory-container-wrapper[data-state="active"] .victory-container .open-customize-menu-button-container > button,
.defeat-container-wrapper[data-state="active"] .reset-button-container > button {
  animation-name: fade-in-button;
}

.victory-container-wrapper[data-state="active"] .victory-container .open-customize-menu-button-container > button[data-clickable="true"],
.defeat-container-wrapper[data-state="active"] .reset-button-container > button[data-clickable="true"] {
  pointer-events: all;
}

.victory-container-wrapper[data-state="active"] .open-customize-menu-button-container > button:hover,
.defeat-container-wrapper[data-state="active"] .reset-button-container > button:hover {
  transform: scale(1.1);
}

/* 5. Animations */
/* tile animations */
@keyframes create-piece-of-tile {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

@keyframes erase-piece-of-tile {
  0% { transform: scale(1); }
  100% { transform: scale(0); }
}

/* victory and defeat animations */
@keyframes victory-box-fall {
  from {
    transform: scale(5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes middle-star-fall {
  from {
    transform: translate(0, -300px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes left-star-fall {
  from {
    transform: translate(-100px, -300px);
    opacity: 0;
  }
  to {
    transform: translate(10px, 15px);
    opacity: 1;
  }
}

@keyframes right-star-fall {
  from {
    transform: translate(100px, -300px);
    opacity: 0;
  }
  to {
    transform: translate(-10px, 15px);
    opacity: 1;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-in-button {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fade-in-nicely {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 6. Media Queries */
@media screen and (max-width: 600px) {
  .toggle-sound {
    bottom: 10px;
    right: 10px;
  }
}
@media screen and (max-width: 550px) {
  .board-container [data-board] {
    grid-template-columns: repeat(var(--size), minmax(auto, 32px));
    grid-template-rows: repeat(var(--size), minmax(auto, 32px));
    aspect-ratio: 1 / 1;
    margin: 0 1.5rem;
    grid-gap: 0.4rem;
  }
  .board-container [data-board] [data-tile],
  .board-container [data-board] [data-tile] > [data-state] {
    width: auto;
    height: auto;
  }
  .board-container [data-board] [data-tile] > [data-state] {
    bottom: 0;
    right: 0;
  }
  .board-container [data-board] [data-tile] {
    font-size: 1.2rem;
  }
  .controls-container {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .board-container [data-board] [data-tile] {
    font-size: 1.1rem;
  }
  .board-container [data-board] {
    padding: 0.6rem;
    margin: 0 1rem;
  }
  .controls-container .remaining-mines-container {
    height: 40px;
    font-size: 1.2rem;
  }
  .controls-container [data-reset] {
    height: 40px;
  }
  .toggle-sound {
    width: 34px;
    height: 34px;
  }
  .victory-container,
  .defeat-container {
    font-size: 1.5rem;
  }
  .victory-container-wrapper .open-customize-menu-button-container > button,
  .defeat-container-wrapper .reset-button-container > button {
    font-size: 1.3rem;
  }
}