/* 1. GENERAL STYLING */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* 2. SCROLLBAR STYLING */
html::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-track {
    border-radius: 0.4vw;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-circle);
    border-radius: 0.4vw;
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-bar);
}
::-webkit-scrollbar-track {
    background-color: var(--color-primary);
    border-radius: 0.4vw;
}
::-webkit-scrollbar-track-piece {
    background-color: var(--color-primary);
}
/* Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: var(--color-circle) var(--color-primary);
}

/* 3. DARK-LIGHT THEME COLORS */
:root {
    --color-black-900: #232B2B;
    --color-black-700: #2e3535;
    --color-black-circle: #474b4b;
    --color-black-bar: #545a5a;
    --color-black-text: #2e3535;
    --color-blue-dark: hsl(243, 85%, 35%);
    --color-red-dark: hsl(280, 89%, 33%);
    --color-green-dark: hsl(124, 97%, 28%);
    --color-yellow-dark: hsl(61, 68%, 60%);
  
    --color-white-900: #FCFCFC;
    --color-white-700: #e7e7e7;
    --color-white-circle: #e0dfdf;
    --color-white-bar: #d3d3d3;
    --color-white-text: #FFFFFF;
    --color-blue-light: hsl(191, 83%, 57%);
    --color-red-light: hsl(303, 73%, 49%);
    --color-green-light: rgb(38, 229, 51);
    --color-yellow-light: hsl(61, 93%, 62%);
  
    --color-primary: var(--color-black-900);
    --color-secondary: var(--color-black-700);
    --color-circle: var(--color-black-circle);
    --color-bar: var(--color-black-bar);
    --color-text: var(--color-white-text);
    --color-blue-g: var(--color-blue-light);
    --color-red-g: var(--color-red-light);
    --color-green-g: var(--color-green-light);
    --color-yellow-g: var(--color-yellow-light);

    /* Board colors */

    --color-dark-board-900: #545454;
  --color-dark-board-700: #414141;
  --color-dark-board-500: #909090;
    --color-dark-text: white;
    --explosion-bg-color-dark: rgb(176, 82, 82);
    --bomb-bg-color-dark: rgb(70, 21, 21);
    --asteroid-bg-color-dark: rgb(65, 60, 60);

    --color-light-board-900: #d3d3d3;
    --color-light-board-700: #eaeaea;
    --color-light-board-500: #adadad;
    --color-light-text: black;
    --explosion-bg-color-light: rgb(201, 107, 107);
    --asteroid-bg-color-light: rgb(134, 127, 127);

    --color-board-900: var(--color-dark-board-900);
    --color-board-700: var(--color-dark-board-700);
    --color-board-500: var(--color-dark-board-500);
    --color-text: var(--color-dark-text);

    /* Other variables and styles */

    --distinct-red-color-light: rgb(232, 72, 72);
    --distinct-red-color-dark: rgb(224, 7, 7);

    --distinct-red-color: var(--distinct-red-color-light);

    --header-height: 70px;
    --size: 6; /* Board size (number of columns and rows of the board) */

    color-scheme: dark;

    /* Customize container variables */
  --blue-darker: rgb(56, 141, 215);
  --blue-darker-opacity: rgba(56, 141, 215, .2);
  --blue-darker-opacity-active: rgba(56, 141, 215, .6);
  --blue-lighter: rgb(130, 194, 250);
  --blue-lighter-opacity: rgba(130, 194, 250, 0.2);
  --blue-lighter-opacity-active: rgba(130, 194, 250, 0.6);

  --blue: var(--blue-darker);
  --blue-opacity: var(--blue-darker-opacity);
  --blue-opacity-active: var(--blue-darker-opacity-active);

  --disabled-element-opacity: 0.3;
}

body.light {
    --color-primary: var(--color-white-900);
    --color-secondary: var(--color-white-700);
    --color-circle: var(--color-white-circle);
    --color-bar: var(--color-white-bar);
    --color-text: var(--color-black-text);

    --color-blue-g: var(--color-blue-dark);
    --color-red-g: var(--color-red-dark);
    --color-green-g: var(--color-green-dark);
    --color-yellow-g: var(--color-yellow-dark);

    /* Board colors */

    --color-board-900: var(--color-light-board-900);
    --color-board-700: var(--color-light-board-700);
    --color-board-500: var(--color-light-board-500);
    --color-text: var(--color-light-text);

    --distinct-red-color: var(--distinct-red-color-dark);

    /* Customize container variables */

    --blue: var(--blue-lighter);
    --blue-opacity: var(--blue-lighter-opacity);
    --blue-opacity-active: var(--blue-lighter-opacity-active);
}

body {
    background-color: var(--color-primary);
    width: 100%;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    transition: background-color 0.3s ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Loader styling */
#loader {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-black-900);
    transition: opacity .5s ease-in-out;
    opacity: 1;
    pointer-events: initial;
    animation-duration: .3s;
    animation-timing-function: ease;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

#loader .explosion,
#loader .bomb {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
    pointer-events: none;
}

#loader .explosion {
    width: 250px;
    height: auto;
}

#loader .bomb {
    opacity: 0;
    /* transition: opacity .6s ease-in-out; */
}

#loader .explosion img {
    opacity: 0;
}

#loader .explosion img,
#loader .bomb img {
    width: 100%;
    height: 100%;
}

#loader .bomb {
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
    animation-delay: 1.3s;
    animation-fill-mode: forwards;
}

#loader[data-loading-state="started"] .bomb {
    animation-name: fade-in;
}

#loader .bomb img {
    /* animation-name: shaking; */
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: .2s;
    animation-delay: .8s;
}

#loader[data-loading-state="started"] .bomb img {
    animation-name: shaking;
}
#loader .explosion img {
    transform: scale(0);
    animation-timing-function: ease;
    animation-duration: .4s;
    animation-delay: 2.7s;
}

#loader[data-loading-state="started"] .explosion img {
    animation-name: bomb-explosion;
    opacity: 1;
}

#loader[data-loading-state="started"] {
    animation-name: fade-out;
    pointer-events: none;
}

#loader .get-started {
    z-index: 100;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    pointer-events: initial;
}

#loader[data-loading-state="started"] .get-started {
    animation-name: fade-out;
    pointer-events: none;
}

#loader .get-started button[data-get-started] {
    border: 2px solid var(--color-text);
    border-radius: 6px;
    margin: 3rem 0 1rem;
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-family: 'Chewy', cursive;
    padding: 1rem 2rem;
    background-color: var(--color-secondary);
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--color-text);
    animation-timing-function: ease-in-out;
    animation-duration: .6s;
    animation-fill-mode: forwards;
    opacity: 0;
    pointer-events: none;
}

#loader .get-started button[data-get-started]:hover {
    transform: scale(1.2);
    box-shadow: 
        5px 5px 10px var(--blue),
        -5px 5px 10px var(--blue),
        5px -5px 10px var(--blue),
        -5px -5px 10px var(--blue);
    color: var(--blue-darker);
}

/* Animations for loader */
@keyframes shaking {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-5px, -3px);
    }
    50% {
        transform: translate(0, 0);
    }
    75% {
        transform: translate(5px, 3px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes bomb-explosion {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(12);
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media queries for loader */
@media screen and (max-width: 700px) {
    #loader .explosion,
    #loader .bomb {
        width: 80px;
    }
    #loader .explosion {
        width: 120px;
    }
    #loader .get-started button[data-get-started] {
        font-size: 1.4rem;
        padding: .8rem 1.6rem;
    }

    #loader .get-started button[data-get-started]:hover {
        box-shadow: 
        2px 2px 10px var(--blue),
        -2px 2px 10px var(--blue),
        2px -2px 10px var(--blue),
        -2px -2px 10px var(--blue);
    }
}

/* centers the whole content of the page for screens larger than 1600px */
@media screen and (min-width: 1600px) {
    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
    .whole-site-wrapper {
        background-color: var(--color-primary);
        position: absolute;
        width: 1600px;
        height: 100vh;
        /* display: flex;
        justify-content: center;
        align-items: center; */
        transition: background-color 0.3s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid var(--color-text);
        border-left: 1px solid var(--color-text);
    }
}